@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@font-face {
  font-family: Horizon;
  src: url(../assets/Horizon.otf);
}
:root {
  --background: #0197F6;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: #272727;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.content {
  height: 500vh;
  background-color: #272727;
  display: block;
}

/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1291px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 1 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}

  .logo {
    font-family: Horizon;
    color: #FFFFFF;
  }

  .featuresSection {
    width: 100%;
    height: 500px;
    background: #272727;
    z-index: 2;
    margin-top: 3.5em;
  }

  .featuresHeading {
    margin-right: 27%;
    margin-left: 27%;
  }
  .featuresHeading span {
    color: white;
    font-family: Futura,"Trebuchet MS",Arial,sans-serif;
    font-size: 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 0;
    vertical-align: baseline;
  }

  .featuresHeading img {
    margin-left: 1em;
    vertical-align: bottom;
  }


  .dowloadSection {
    width: 100%;
    height: 500px;
  }

  .downloadBackground {
    background-color: #707070;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }

  .downloadText {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    float: left;
  }

  .title {
    color: white;
    font-size: 2em;
    margin-bottom: 0;
  }

  .downloadButton {
    width: 10px;
    height: 1px;
    float: right;
    margin-left: 0;
    vertical-align: middle;
    margin-right: 250px;
    margin-top: 320px;
  }

  .downloadText p {
    color: white;
    line-height: 25px;
    font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  }

  .footer {
    position: relative;
   bottom: 0;
   width: 100%;
   height: 6em;
   background-color: #0A0909;
   color: white;
   text-align: left;
   margin-bottom: 0;
  }
  .footer p {
    vertical-align: middle;
  }
