#footer {
  text-align: center;
  font-family: $general-font;
  color: white;
  margin-top: 20px;
  background: black;
  padding-top: 20px;
  li {
    list-style: none;
    padding: 20px 0px;
    width: auto;
  }
  a {
    padding: 0px 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) and (max-height: 1024px) {
  #footer {
    width: 600px;
    font-size: 15px;
    padding-bottom: 10px;
    li {
      left: 0;
    }
  }
}
