nav {
  background: #0197f6;
  .main-nav {
    display: flex;
    padding: 0;
    transition: all 0.2s ease;
    overflow: hidden;
    .logo {
      font-family: $logo-font;
      margin-right: auto;
      padding-top: 13px;
      font-size: 2.25em;
    }
    a {
      text-decoration: none;
      display: block;
      color: white;
      padding: 25px 30px;
      font-weight: 900;
      text-transform: uppercase;
      font-family: $general-font;
      transition: all 0.2s ease;
    }
    li {
      list-style: none;
      display: inline-block;
    }
    li:first-child {
      margin-right: auto;
    }
    li .toggle {
      width: 10px;
      position: relative;
      right: 50px;
      z-index: 99;
    }
    .nav-toggle {
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0;
      margin-left: 30px;
    }

    .toggle {
      position: relative;
      bottom: 10px;
      visibility: hidden;
    }
  }
}

@media only screen and (max-width: 600px) and (max-height: 1024px) {
  #begone1,
  #begone2 {
    display: none;
  }
  li:first-child {
    display: block;
    text-align: center;
    position: relative;
    left: 160px;
    top: 10px;
  }
  .nav-toggle {
    visibility: visible;
    position: relative;
    top: 8px;
  }
}
