#header {
  height: 650px;
  background-image: url(../img/smilinggirl.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 4em;
  }
  img {
    padding-left: 700px;
  }
}

@media only screen and (max-width: 600px) and (max-height: 1024px) {
  #header {
    h1 {
      font-size: 3.75em;
    }
  }
}

#noheader {
  height: 450px;
  background-image: url(../img/lightbulb.png);
  background-size: cover;
  background-repeat: none;
  overflow: hidden;
  h1 {
    text-align: center;
    font-size: 1em;
    color: white;
  }
  img {
    padding-left: 700px;
  }
}

@media only screen and (max-width: 600px) and (max-height: 1024px) {
  #noheader {
    h1 {
      font-size: 3.75em;
      margin-top: 200px;
    }
  }
}

#yoheader {
  height: 450px;
  background-image: url(../img/trophy.svg);
  background-size: cover;
  background-repeat: none;
  overflow: hidden;
  h1 {
    text-align: center;
    font-size: 1em;
    color: white;
  }
  img {
    padding-left: 700px;
  }
}

@media only screen and (max-width: 600px) and (max-height: 1024px) {
  #yoheader {
    h1 {
      font-size: 3.75em;
      margin-top: 200px;
    }
  }
}
