#header {
  height: 650px;
  background-image: url(../img/smilinggirl.png);
  background-size: cover;
  background-position: center;
  h1 {
    text-align: center;
    padding-top: 400px;
    font-size: 5em;
  }
}
