@font-face {
  font-family: "Horizon";
  src: url(../fonts/Horizon.otf);
}

@font-face {
  font-family: "Futura";
  src: url(../fonts/Futura.ttf);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
tr,
td {
  color: white;
  font-family: $general-font;
}
