#about {
  height: auto;
  padding: 30px;
  margin-bottom: 20px;
  h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    line-height: 2.5em;
    text-align: center;
  }
}
#features .cards {
  margin-top: 20px;
  margin-right: 20px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.feature-card {
  padding: 20px;
  grid-column: 2 / 3;
}

.feature-card-2 {
  padding: 20px;
  grid-column: 2 / 3;
}

.feature-card-3 {
  padding: 20px;
  grid-column: 2 / 3;
}

.cards p {
  font-family: $general-font;
  color: white;
  font-size: 18px;
  line-height: 2em;
  text-align: left;
}

#SDG {
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  .SDG-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin: 30px;
    width: auto;
  }
}

#features {
  img {
    float: left;
    margin-right: auto;
    margin-left: auto;
  }
  .feature-card {
  }
  h1 {
    text-align: center;
    font-size: 2.5em;
  }
}

#CTA {
  .CTA {
    padding: 2em;
    margin: 10px 60px;
    h1 {
      width: 60%;
      font-size: 2.5em;
      margin-bottom: 16px;
    }
    p {
      width: 60%;
      line-height: 1.5em;
      padding-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 600px) and (max-height: 1024px) {
  #SDG {
    h1 {
      font-size: 2rem;
      text-align: center;
    }
    .SDG-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      width: auto;
      margin-left: 70px;
    }
  }
  #features {
    .cards {
      display: flex;
      flex-direction: column;
    }
    p {
      text-align: center;
    }
  }

  #CTA {
    .CTA {
      width: 85%;
      margin: 5px 40px;
      padding: 1.5em;
      h1 {
        font-size: 1.75em;
        width: 100%;
        line-height: 40px;
      }
      p {
        width: 100%;
        display: block;
        line-height: 30px;
        border-bottom: 30px;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }
    }
  }
}
