#about {
  height: auto;
  background: black;
  padding: 30px;
  margin-bottom: 20px;
  h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    line-height: 2.5em;
    text-align: center;
  }
}
#features .cards {
  margin-top: 20px;
  margin-right: 20px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.feature-card {
  padding: 20px;
  grid-column: 2 / 3;
}

.feature-card-2 {
  padding: 20px;
  grid-column: 2 / 3;
}

.feature-card-3 {
  padding: 20px;
  grid-column: 2 / 3;
}

.cards p {
  font-family: $general-font;
  color: white;
  font-size: 18px;
  line-height: 2em;
  text-align: left;
}

#SDG {
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  .SDG-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin: 30px;
    width: auto;
  }
}

#features {
  img {
    float: left;
    margin-right: auto;
    margin-left: auto;
  }
  .feature-card {
  }
  h1 {
    text-align: center;
    font-size: 2.5em;
  }
}

#CTA {
  .CTA {
    background: black;
    padding: 2em;
    margin: 10px 60px;
    h1 {
      width: 60%;
      font-size: 2.5em;
      margin-bottom: 16px;
    }
    p {
      width: 60%;
      line-height: 1.5em;
    }
    img {
      float: right;
      position: relative;
      bottom: 70px;
    }
  }
}

@media only screen and (max-width: $phone) {
  #SDG {
    h1 {
      font-size: 2rem;
      text-align: center;
    }
    .SDG-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2px;
      width: auto;
      margin-left: 0px;
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $small-laptop) {
}

@media only screen and (min-width: $small-laptop) and (max-width: $large-laptop) {
}

@media only screen and (min-width: $large-laptop) {
}
