#solutions {
  table,
  th,
  td {
    border: 1px solid white;
    padding: 20px;
    text-align: center;
  }

  table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  th {
    background: #0197f6;
  }

  tr {
    background: #454545;
  }

  td {
    line-height: 25px;
  }
}
