.solutions-reveal {
  background: #454545;
  padding: 30px;
  margin-top: 50px;
  line-height: 20px;
  margin-bottom: 70px;
  h1 {
    font-size: 35px;
    text-emphasis: 900;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  p {
    line-height: 25px;
    font-size: 18px;
  }
  img {
    float: right;
    margin-bottom: 10px;
  }
}
